@media screen and (max-width: 990px) {
    table {
        width:100%;
    }
    thead {
        display: none;
    }
    tr:nth-of-type(2n) {
        background-color: inherit;
    }
    tr td:first-child {
        background: #f0f0f0;
        font-weight:bold;
        font-size:1.3em;
    }
    tbody td {
        display: block;
        text-align:center;
    }
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:center;
    }
    td:nth-of-type(1):before { content: "No. Tarjeta"; }
    td:nth-of-type(2):before { content: "Código"; }
    td:nth-of-type(3):before { content: "Fecha A/M/D"; }
    td:nth-of-type(4):before { content: "Descripcion"; }
    td:nth-of-type(5):before { content: "Valor"; }
    td:nth-of-type(6):before { content: "Observaciones"; }  
}

/* td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.selected {
    background-color:red;
    color: #FFF;
} */
    