<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/Celurean/bootstrap.css">
    <link rel="stylesheet" href="../css/styleimg.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/swiperprov.css">
    <link rel="shortcut icon" href="../img/logo2020.png" />
    <title>Municipalidad de Mataquescuintla</title>
</head>

<body style="background-color: rgb(230, 230, 230);">

    <nav style="background-image:url('../1.png');"
        class="navbar navbar-expand-lg navbar-expand-sm navbar-dark justify-content-center">
        <!-- <span class="open-side">
            <a href="#" onclick="openSideMenu()">
                <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="#111" stroke-width="5" />
                    <path d="M0,14 30,14" stroke="#111" stroke-width="5" />
                    <path d="M0,23 30,23" stroke="#111" stroke-width="5" />
                </svg>
            </a>
        </span>
        <div id="side-menu" class="side-nav">
            <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
            <a href="../index.html">Inicio</a>
            <a href="FlorDelCafe.html">SRITA. FLOR DEL CAFÉ</a>
            <a href="MissChiquitita.html">NIÑA FLOR DEL CAFÉ</a>
            <a href="https://munimataquescuintla.gob.gt/">Municipalidad de Mataquescuintla</a>
        </div> -->
        <div class="container justify-content-center">
            <h2 style="color: yellow; text-align: center;font-family:Verdana, Geneva, Tahoma, sans-serif;"> <img src="../img/portada 2.png" alt="" height="120px"></h2>
        </div>
    </nav>
    <nav style="background-color:  rgba(255, 251, 0, 0.85);" class="navbar navbar-expand-lg navbar-expand-sm col-12 navbar-dark sticky-top">
        <div class="container col-12">
            <div style="text-align: center; margin-left: 0.5%;" class="row justify-content-center col-12">
                <button style="color: black;margin-left: 1%;" class="btn btn-outline-primary col-sm-5 col-md-4 col-lg-2 col-xl-2" ><a style="color: black;" href="../index.html">Inicio</a> </button>
                <button style="color: black;margin-left: 1%;" class="btn btn-outline-primary col-sm-5 col-md-4 col-lg-2 col-xl-2" ><a style="color: black;" href="../Views/FlorDelCafe.html">Srita. Flor del Café</a></button>
                <button style="color: black;margin-left: 1%;" class="btn btn-outline-primary col-sm-5 col-md-4 col-lg-2 col-xl-2" ><a style="color: black;" href="../Views/MissChiquitita.html">Niña Flor del Café</a> </button>
                <button style="color: black;margin-left: 1%;" class="btn btn-outline-primary col-sm-5 col-md-4 col-lg-2 col-xl-2" ><a style="color: black;" href="https://munimataquescuintla.gob.gt/">Municipalidad de Mataquescuintla</a> </button>
            </div>
        </div>
    </nav>

    <div class="container col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <div class="container col-12 shadow-lg mt-4 contain">
            <br>
            <br>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black" href="MC1.html">CANDIDATA 1</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Fondo.jpg" width="500">
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black" href="MC2.html">CANDIDATA 2</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Fondo.jpg" width="500">
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black" href="MC3.html">CANDIDATA 3</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Fondo.jpg" width="500">
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black" href="MC4.html">CANDIDATA 4</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Fondo.jpg" width="500">
                </div>
            </div>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black" href="MC5.html">CANDIDATA 5</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Fondo.jpg" width="500">
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
    <br>
    <br>

    <footer id="footer" class="card-footer mt-4" style="background-color: rgba(44, 42, 42, 0.466)">
        <div class="container col-12">
            <div class="row">
                <div class="col-12">
                    <p style="color: white;">Made by <a href="" style="color:white">JIBM 2021</a>.</p>
                    <h6 style="color: white">All rights reserved</h6>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/menu.js"></script>
    <script src="../js/swiperprov.js"></script>

</body>

</html>