<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/Celurean/bootstrap.css">
    <link rel="stylesheet" href="../css/styleimg.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/swiperprov.css">
    <link rel="stylesheet" href="../css/letras.css">
    <link rel="shortcut icon" href="../img/0.png" />
    <title>Elecciones Flor del Café 2021</title>
</head>

<body style="background-color: rgb(247, 239, 226);">

    <nav style="background-image:url('../1.png'); background-size: cover; background-position: center;"
        class="navbar navbar-expand-lg navbar-expand-sm navbar-dark justify-content-center img-fluid"
        alt="Responsive image">
        <!-- <span class="open-side">
            <a href="#" onclick="openSideMenu()">
                <svg width="30" height="30">
                    <path d="M0,5 30,5" stroke="#111" stroke-width="5" />
                    <path d="M0,14 30,14" stroke="#111" stroke-width="5" />
                    <path d="M0,23 30,23" stroke="#111" stroke-width="5" />
                </svg>
            </a>
        </span>
        <div id="side-menu" class="side-nav">
            <a href="#" class="btn-close" onclick="closeSideMenu()">&times;</a>
            <a href="../index.html">Inicio</a>
            <a href="FlorDelCafe.html">SRITA. FLOR DEL CAFÉ</a>
            <a href="MissChiquitita.html">NIÑA FLOR DEL CAFÉ</a>
            <a href="https://munimataquescuintla.gob.gt/">Municipalidad de Mataquescuintla</a>
        </div> -->
        <div class="container justify-content-center">
            <h2 style="color: yellow; text-align: center;font-family:Verdana, Geneva, Tahoma, sans-serif;"> <img
                    src="../img/portada 2.png" class="img-fluid" alt="Responsive image" width="500px"
                    onclick="location.href='../index.html'"></h2>
        </div>
    </nav>
    <nav style="background-color:  rgba(255, 251, 0, 0.85);"
        class="navbar navbar-expand-lg navbar-expand-sm col-12 navbar-dark">
        <div class="container col-12">
            <div style="text-align: center; margin-left: 0.5%;" class="row justify-content-center col-12">
                <button style="color: black;margin-left: 1%; font-size:large;"
                    class="letras btn btn-outline-danger col-sm-5 col-md-4 col-lg-2 col-xl-2"
                    onclick="location.href='../index.html'">Inicio</button>
                <button style="color: black;margin-left: 1%;font-size:large;"
                    class="letras btn btn-outline-danger col-sm-5 col-md-4 col-lg-2 col-xl-2"
                    onclick="location.href='../Views/FlorDelCafe.html'">Srita. Flor del Café</button>
                <button style="color: black;margin-left: 1%;font-size:large;"
                    class="letras btn btn-outline-danger col-sm-5 col-md-4 col-lg-2 col-xl-2"
                    onclick="location.href='../Views/NFlorDelCafe.html'">Niña Flor del Café</button>
                <button style="color: black;margin-left: 1%;font-size:large;"
                    onclick="location.href='https://munimataquescuintla.gob.gt/'"
                    class="letras btn btn-outline-danger col-sm-5 col-md-4 col-lg-2 col-xl-2">Municipalidad de
                    Mataquescuintla</button>
            </div>
        </div>
    </nav>

    <div class="container col-sm-10 col-md-10 col-lg-10 col-xl-10">
        <div class="container col-12 shadow-lg mt-4 contain">
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <img class="im mx-auto d-block img-fluid" src="../img/NIÑA FLOR DEL CAFE.png" width="500">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black;" href="FC1.html">Ana Lucia Ayala Gramajo</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Candidatas N/1.jpg"
                        onclick="location.href='../Views/MC1.html'" width="500">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black;" href="FC2.html">Emily Natalia Almirez Pineda</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Candidatas N/2.jpg" width="500"
                        onclick="location.href='../Views/MC2.html'">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black;" href="FC3.html">Karly Eliza Durán Mis</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Candidatas N/3.jpg" width="500"
                        onclick="location.href='../Views/MC3.html'">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black;" href="FC4.html">Lindsey Maité Vivar González</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Candidatas N/4.jpg" width="500"
                        onclick="location.href='../Views/MC4.html'">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="container col-sm-12 col-md-10 col-lg-5 col-xl-5">
                    <h1 style=" text-align: center;"><a style="color: black;" href="FC5.html">Emily Sophía Rodas Cruz</a></h1>
                    <img class="im mx-auto d-block img-fluid" src="../img/Candidatas N/5.jpg" width="500"
                        onclick="location.href='../Views/MC5.html'">
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>

        <footer id="footer" class="card-footer mt-4" style="background-color: rgba(44, 42, 42, 0.466)">
            <div class="container col-12">
                <div class="row">
                    <div class="col-12">
                        <p class="letras" style="color: white;">Made by <a class="letras" href=""
                                style="color:white">JIBM 2021</a>.</p>
                        <h6 class="letras" style="color: white">All rights reserved</h6>
                    </div>
                </div>
            </div>
        </footer>

        <script src="../js/jquery-3.2.1.min.js"></script>
        <script src="../js/swiper.min.js"></script>
        <script src="../js/swiper.js"></script>
        <script src="../js/menu.js"></script>
        <script src="../js/swiperprov.js"></script>
        <script src="../js/init.js"></script>

</body>

</html>